<nav class="  navbar navbar-expand-lg navbar-dark bg-dark  col-12 ">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand col-6">TAKENOTES</a>
        <div class=" navbar-collapse col-6">
            <ul class="navbar-nav ml-auto col-3">
                <li><a *ngIf="!userIsAuthenticated" routerLink="/loginPage" class="nav-link  col-1">Login</a></li>
                <li><a *ngIf="!userIsAuthenticated" routerLink="/registerPage" class="nav-link col-1">Register</a></li>
                <li *ngIf="userIsAuthenticated">
                    <p class="text-light pt-2 p-1 col-1">{{firstName}}</p>
                </li>
                <li *ngIf="userIsAuthenticated">
                    <p class="text-light pt-2 p-1 col-1">{{lastName}}</p>
                </li>
                <li><a *ngIf="userIsAuthenticated" (click)="onLogout()" class="nav-link col-1">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>